= form_for @meetup, :html => {:id => 'x'} do |f|
  =f.text_field :name, placeholder: "Name"
  %br/
  =f.text_area :description, placeholder: "description"
  =f.text_field :area, placeholder: "Area"
  
  = f.fields_for :invitations do |invitations_f|
    = render 'invitation', invitations_f: invitations_f, f: f
  = link_to_add_invitation "Invite Another", f, :invitations  

  = f.submit


  / %input{:class => "typeahead", :type => "text", :placeholder => "Users"}