= form_for @meetup, :html => {:id => 'x'} do |f|
  =f.text_field :name, placeholder: "Name"
  %br/
  =f.text_area :description, placeholder: "description"

  = f.fields_for :invitations do |invitations_f|
    = invitations_f.collection_select :user_id, User.all, :id, :name
    = invitations_f.hidden_field :_destroy
    = invitations_f.label :_destroy, "remove"
  = link_to_add_invitation "Invite Another", f, :invitations  

  = f.submit


  / %input{:class => "typeahead", :type => "text", :placeholder => "Users"}