!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Frolic
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    / = stylesheet_link_tag    'home', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %p=notice
    %p=alert
    #login
      - if current_user
        = link_to "Organise Meetup", new_meetup_path, html_options = {class: :btn}
        = link_to "Upcoming Meetups", dashboard_path, html_options = {class: :btn}
        = link_to "My Account", edit_user_registration_path, html_options = {class: :btn}
        = link_to "Log out", destroy_user_session_path, method: :delete
        %p= current_user.email

    =yield
